{% extends "index.html" %}
{% load static %}
{% block content  %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  {# Esto renderizará todos los campos del formulario como párrafos #}
    <button type="submit">Registrarse</button>
</form>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<script>
    {% if messages %}
      alert("{{ messages|join:'' }}");
    {% endif %}
  </script>

{% endblock %}